<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261259144383-l145ejrpidbh9nc38h003hvos8muicmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261259144383-l145ejrpidbh9nc38h003hvos8muicmb</string>
	<key>API_KEY</key>
	<string>AIzaSyA9kvAYOvt9EZWg-cUhbBHCRab5jPqC0aU</string>
	<key>GCM_SENDER_ID</key>
	<string>261259144383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-2-ad3e2</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-2-ad3e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261259144383:ios:54daa1bec97ac20d72aa0a</string>
</dict>
</plist>